:root {
    --white: #fff;

    --blue-500: #1a84ea;
    --blue-600: #0863b9;

    --dark-500: #2b2b2b;
    --dark-800: #111;
    --dark-900: #000;
}

body {
    background-color: var(--dark-800);
    color: var(--white);
    font-family: 'Lato';
    margin: 0;
}
.page-content {
    padding: 12px;
}

a:not(.default) { 
    text-decoration: none;
}
a:not(.default)::after {
    content: '';
    display: block;
    width: 0%;
    border-top: 1px solid currentColor;
    transition: width .2s linear;
}
a:not(.default):hover::after {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 12px;
    width: calc(100% - 24px);
    height: 48px;
    background: var(--dark-500);
}

.button {
    font-size: 20px;
    -webkit-appearance: none;
    border: 2px solid var(--blue-500);
    border-radius: 4px;
    padding: 0 20px;
    height: 40px;
    background-color: var(--blue-500);
    color: var(--white);
    transition: background-color .2s;
}
.button:hover {
    cursor: pointer;
    background-color: var(--blue-600);
}
.button.button-small {
    padding: 0 6px;
    height: 26px;
}

.input, #region {
    font-size: 20px;
    font-family: 'Lato';
    height: 32px;
    width: 200px;
    border: 1px solid var(--dark-900);
    padding: 0 4px;
}
#region { width: auto; }

.error {
    font-size: 20px;
    color: rgb(238, 39, 39);
}

.character {
    min-height: 120px;
    color: white;
    font-size: 20px;
    margin: 4px 0;
    padding: 8px;
    background: var(--dark-500);
    border: 1px solid var(--dark-900);
    border-radius: 4px;
    display: flex;
}
.character:not(.no-animation) {
    animation: slideIn 0.25s linear forwards;
    opacity: 0;
}

.character > div:first-child {
    display: flex;
    flex: 25% 0 0;
    align-items: center;
    border-right: 1px solid currentColor;
}
.character > div:nth-child(2) {
    display: flex;
    flex: auto 1 1;
    align-items: center;
}

.character p, .character a {
    margin: 4px 10px;
}

.character a {
    display: inline-block;
    font-size: 14px;
    margin-top: 16px;
    color: wheat;
}

.thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid currentColor;
    overflow: hidden;
}
.thumbnail > div {
    background-image: var(--bg-image);
    background-size: cover;
    margin: auto 0;
    height: 100%;
    width: 100%;
    transition: transform 0.1s linear;
}
.thumbnail:hover { cursor: pointer; }
.thumbnail:hover > div { transform: scale(1.2); }

.button-delete {
    float: right;
    border: none;
    background: none;
    color: red;
    font-size: 25px;
    width: 30px;
    height: 35px;
}

.runs {
    flex-grow: 2;
}

.runs div {
    max-width: 120px;
    display: inline-block;
    margin: 23px 8px;
}

#affixes {
    font-size: 20px;
    margin-left: 28px;
}

#affixes div {
    margin: 0 14px;
}

.deathknight {
    color: #C41F3B;
}

.demonhunter {
    color: #A330C9;
}

.druid {
    color: #FF7D0A;
}

.hunter {
    color: #ABD473;
}

.mage {
    color: #69CCF0;
}

.monk {
    color: #00FF96;
}

.paladin {
    color: #F58CBA;
}

.priest {
    color: #FFFFFF;
}

.rogue {
    color: #FFF569;
}

.shaman {
    color: #0070DE;
}

.warlock {
    color: #9482C9;
}

.warrior {
    color: #C79C6E;
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip.tooltip-animate {
    opacity: 0;
    animation: fadeIn .5s linear forwards;
}

.tooltip .tooltiptext {
    opacity: 0;
    background-color: black;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: absolute;
    font-size: 14px;
    width: 200px;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    pointer-events: none;
    transition: opacity .2s;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    z-index: 100;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}